[submodule "microhal/ports/common/cmsis"]
	path = microhal/ports/common/cmsis
	url = https://github.com/microHAL/port-CMSIS
[submodule "third-party/FreeRTOS"]
	path = third-party/FreeRTOS
	url = https://github.com/microHAL/FreeRTOS
[submodule "third-party/gsl"]
	path = third-party/gsl
	url = https://github.com/Microsoft/GSL
[submodule "third-party/doctest"]
	path = third-party/doctest
	url = https://github.com/onqtam/doctest.git
[submodule "third-party/FreeRTOS-Kernel"]
	path = third-party/FreeRTOS-Kernel
	url = https://github.com/FreeRTOS/FreeRTOS-Kernel.git
[submodule "microhal/core/microhal-crc"]
	path = microhal/core/microhal-crc
	url = https://github.com/microHAL/microhal-crc.git
[submodule "microhal/microhal-os"]
	path = microhal/microhal-os
	url = https://github.com/microHAL/microhal-os.git
[submodule "components/hostComm"]
	path = components/hostComm
	url = https://github.com/microHAL/hostComm.git
[submodule "components/cli"]
	path = components/cli
	url = https://github.com/microHAL/component-cli.git
