<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.cdt.launch.applicationLaunchType">
<stringAttribute key="bad_container_name" value="/nrf51-rtc-example/launc"/>
<intAttribute key="org.eclipse.cdt.launch.ATTR_BUILD_BEFORE_LAUNCH_ATTR" value="2"/>
<stringAttribute key="org.eclipse.cdt.launch.COREFILE_PATH" value=""/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_ARGUMENTS" value="-f interface/jlink.cfg&#10;-c &quot;transport select swd&quot;&#10;-c &quot;set WORKAREASIZE 0&quot;&#10;-f target/nrf51.cfg&#10;-c init&#10;-c targets&#10;-c reset &#10;-c halt&#10;-c &quot;sleep 100&quot;&#10;-c &quot;flash write_image erase nRF51-development-kit/nrf51-rtc-example.elf&quot;&#10;-c &quot;verify_image nRF51-development-kit/nrf51-rtc-example.elf&quot;&#10;-c &quot;reset run&quot;&#10;-c shutdown"/>
<stringAttribute key="org.eclipse.cdt.launch.PROGRAM_NAME" value="${openocd_path}/${openocd_executable}"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_ATTR" value="nrf51-rtc-example"/>
<booleanAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_AUTO_ATTR" value="true"/>
<stringAttribute key="org.eclipse.cdt.launch.PROJECT_BUILD_CONFIG_ID_ATTR" value=""/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/nrf51-rtc-example"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.ui.favoriteGroups">
<listEntry value="org.eclipse.debug.ui.launchGroup.run"/>
</listAttribute>
<stringAttribute key="process_factory_id" value="org.eclipse.cdt.dsf.gdb.GdbProcessFactory"/>
</launchConfiguration>
